:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--light-gray);
  text-align: center;
  min-height: 100vh;
  display: flex;
  place-items: center;
  flex-direction: column;
}

.container {
  background-color: var(--white);
  width: 20rem;
  margin: auto;
  padding: 16px;
  border-radius: 20px;
  height: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.qr {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 11px;
}

.title {
  color: var(--dark-blue);
  font-size: 22px;
  font-weight: 700;
  width: 90%;
  margin: auto;
}

.text {
  font-weight: 400;
  color: var(--grayish-blue);
  width: 90%;
  margin: auto;
}